:root{
    --color-text: #454240;
    --color-light: #ece7e4;
    --color-text-dark: #1c181d;

    --color-blue: #066ab4;
    --color-blue-dark: #004f8b;
    --color-red: #eb413b;
    --color-yellow: #ffc010;
    --color-pink: #fbdada;
  }